@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
  font-family: 'Gowun Dodum', sans-serif;

  width: 100%;
  min-height: 100vh;
  margin: 0;

  img {
    border: none;
  }

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    outline: none;
  }
  a:hover,
  a:active {
    text-decoration: none;
  }

  input {
    border: none;
  }
  input:focus {
    border: none;
    outline: none;
  }
}
